* {
    font-family: 'Work Sans', sans-serif;
}

/* navbar styles */

.main-header {}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 150px 20px 150px;
}

.header-container{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-icon {
    margin-right: 20px;
    width: 86.041px;
    height: 40px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-span {
    color: #FF42A5;
}

.nav-btn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-btn li {
    margin-right: 20px;
    color: #3C354F;
    font-size: 1.25 rem;
    font-weight: 500;
}

.nav-border {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;

}

.fa-brands {
    font-size: 20px;
    margin-left: 5px;
}

/* header styles */
.header-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.header-name {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header-descripton {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 25px;
    gap: 15px;
}

.header-pink {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    padding: 20px 40px;
}

.header-blue {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    margin-left: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}



/* online-game styles */

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.online-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 15px;
}

.card1 {
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* play section styles */

.play-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 1.25rem;
}

.play {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 220px;
}

/* btn styles */

.btn-container {
    margin: 150px;
}

.btn {
    display: flex;
    gap: 15px;

}

h6 {
    color: #0B0223;
    font-weight: 600;
}

.line-btn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.btn:hover {
    color: #FF42A5;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #FF42A5;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

/* footer styles */

footer {
    padding: 120px 500px;
    background: #0B0223;
}
#footer-logo{
   display: flex;
   justify-content: center;
}
#f-title {
    color: #FFF;
}

.f-content {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
.fcontent-container{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.fotter-icon{
    display: flex;
    gap: 120px;
    justify-content: center;
    margin-top: 65px;
}

.copy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center; 
    font-weight: 500;
    margin-top: 70px;
}